<!doctype html>
<html lang="de">
  <head>
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Endspurt: Auswertung</title>
    <meta name="description" content="Fortgeschrittenes Evaluationsprogramm zur Erfassung sowie Auswertung der Ergebnisse eines Sportfestes">
    <meta name="author" content="guemax">

    <link rel="icon" href="{% static 'icon.ico' %}">

    <link rel="stylesheet" href="{% static 'bootstrap.css' %}">
  </head>
  <script>
    function clock() {
	var d = new Date();
	document.querySelector("#clock").innerHTML = d.toLocaleTimeString("de-DE");
	t = setTimeout(() => {
	    clock();
	}, 500);
    }
  </script>
  <body class="min-vh-100 d-flex flex-column" onload="clock();">
    <header class="mb-5">
      <nav class="navbar border border-bottom-2 shadow">
	<div class="container-fluid">
	  <a class="navbar-brand" href="#">
	    <img src="{% static 'icon.png' %}" alt="Logo" width="24" height="24" class="d-inline-block align-text-top">
	    Endspurt &ndash; Auswertung</a>
	  <div class="navbar">
	    <ul class="navbar-nav">
	      <li class="nav-item">
		<span class="navbar-text font-monospace">Uhrzeit: <span id="clock">{% now "G:i:s" %}</span></span>
	      </li>
	    </ul>
	  </div>
	</div>
      </nav>
    </header>
    <main class="container-fluid py-3">
      <h1 class="display-5 mb-5">Ergebnisse nach Klassenstufen <i class="text-muted h4 fw-normal">(Letzte Aktualisierung um {% now "G:i" %} Uhr)</i></h1>
      {% for level, parallel_classes in scores.items %}
      <article class="mb-5">
        <h2 class="h3 fw-normal mb-3">{{level}}. Jahrgangsstufe</h2>
        <table class="table table-striped table-responsive">
          <thead>
            <tr>
              <th scope="col">Platz</th>
              <th scope="col">Klasse</th>
              <th scope="col">Punktzahl</th>
            </tr>
          </thead>
          <tbody>
	    {% for class in parallel_classes %}
            <tr>
              <th scope="row">{{ class.ranking }}</th>
              <td>{{ class.name }}</td>
              <td>{{ class.score }}</td>
            </tr>
	  {% endfor %}
          </tbody>
        </table>
      </article>
      {% endfor %}
    </main>
    <footer class="bg-primary text-white mt-auto">
      <p class="py-3 container-fluid my-0">&copy; 2023 @guemax</p>
    </footer>
  </body>
</html>

