<!doctype html>
<html lang="de">
  <head>
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Endspurt: Auswertung</title>
    <meta name="description" content="Fortgeschrittenes Evaluationsprogramm zur Erfassung sowie Auswertung der Ergebnisse eines Sportfestes">
    <meta name="author" content="guemax">

    <link rel="icon" href="/favicon.ico">
    <link rel="icon" href="/favicon.svg" type="image/svg+xml">

    <link rel="stylesheet" href="{% static 'bootstrap.css' %}">
  </head>
  <body>
    <h1>Hello World!</h1>
  </body>
</html>

