<!doctype html>
<html lang="de">
  <head>
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Endspurt: Auswertung</title>
    <meta name="description" content="Fortgeschrittenes Evaluationsprogramm zur Erfassung sowie Auswertung der Ergebnisse eines Sportfestes">
    <meta name="author" content="guemax">

    <link rel="icon" href="/favicon.ico">
    <link rel="icon" href="/favicon.svg" type="image/svg+xml">

    <link rel="stylesheet" href="{% static 'bootstrap.css' %}">
  </head>
  <body class="min-vh-100 d-flex flex-column">
    <header class="mb-5">
      <nav class="navbar border border-bottom-2 shadow">
	<div class="container-fluid">
	  <a class="navbar-brand" href="#">Endspurt &ndash; Auswertung</a>
	  <div class="navbar">
	    <ul class="navbar-nav">
	      <li class="nav-item">
		<span class="navbar-text">10:39 Uhr</span>
	      </li>
	    </ul>
	  </div>
	</div>
      </nav>
    </header>
    <main class="container-fluid py-3">
      <h1 class="display-5 mb-5">Ergebnisse nach Klassenstufen <i class="text-muted h4 fw-normal">(Letzte Aktualisierung um {% now "G:i" %} Uhr)</i></h1>
      <article class="mb-5">
        <h2 class="h3 fw-normal mb-3">8. Jahrgangsstufe</h2>
        <table class="table table-striped table-responsive">
          <thead>
            <tr>
              <th scope="col">Platz</th>
              <th scope="col">Klasse</th>
              <th scope="col">Punktzahl</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>8d</td>
              <td>420</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>8e</td>
              <td>399</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>8a</td>
              <td>201</td>
            </tr>
            <tr>
              <th scope="row">4</th>
              <td>8b</td>
              <td>29</td>
            </tr>
            <tr>
              <th scope="row">5</th>
              <td>8c</td>
              <td>0</td>
            </tr>
          </tbody>
        </table>
      </article>
    </main>
    <footer class="bg-primary text-white mt-auto">
      <p class="py-3 container-fluid my-0">&copy; 2023 @guemax</p>
    </footer>
  </body>
</html>

